.profileBar-container{
    width: auto;
    display: flex;
    align-items: center;
    background-color: rgba(222, 234, 235, 0.603);
    padding: 10px 15px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 1px solid lightgray;
}

.user-profile-container-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    float: left;
}

.user-profile-photo-container{
    width: auto;
}
.user-profile-photo{
    width: 50px;
    height: 50px;
    border-radius: 50%;   
}

.user-name-container{
    margin-left: 10px;
}

.close-chat-btn-container{
    float: right;
    width: 20%;
}

.close-chat-btn-container button{
    font-weight: bold;
    color:  rgb(1, 126, 134);
    background-color: rgba(0, 98, 105, 0.103);
    box-shadow: none;
    border: 2px solid rgb(1, 122, 131);
}

.close-chat-btn-container button:hover{
    background-color: rgb(1, 122, 131);
    color: white;
}