*{
    margin: 0;
    padding: 0;
}

input, button{
    border: none;
    outline: none;
}

.button-style{
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.button-style:hover{
    background-color: lightgray;
}


body{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chat-heading-container{
    display: flex;
    align-items: center;    
    padding: 15px 0px;
    margin: 0px 15px;
    border-bottom: 1px solid lightgray;
}

.arrow-btn-container{
    height: 40px;
    width: 40px;
    border-radius: 10px;
    background-color: rgba(223, 234, 235, 0.603);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.arrow-btn-container i{
    font-size: 16px;
}

.arrow-btn-container:hover{
    background-color: rgb(1, 122, 131);
    color: white;
}

.chat-heading-container h3{
    margin-left: 15px;
}

.search-contact-container{
    width: 80%;
    border-radius: 10px;
    background-color: rgba(223, 234, 235, 0.603);
    padding: 10px 20px;
    margin: 20px auto;
}

.search-contact-container input{
    background: none;
    color: gray;
    font-size: 14px;
    width: 80%;
}
.search-contact-container i{
    float: right;
    clear: both;
}

.user-chat-window-container{
    height: 100vh;
    margin: 10px 0px;
}

.no-chat-message-container{
    height: 100%;
    width: 100%;
    position: relative;
}
.no-chat-message-container span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: lightgray;

}


::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #999a9b;
}


.current-chat-user-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.current-chat-user-detail img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profileSideBarCloseStyleChatWindow{
    width: 70%;
}

.profileSideBarCloseStyle{
    width: 70px !important;
}

.profileSideBarCloseStyle .chat-heading-container h3,
.profileSideBarCloseStyle .current-chat-user-detail{
    display: none;
}

.profileSideBarCloseStyle .chat-heading-container{
    border-bottom: none;
}
